.footer {
    min-height: 300px;
    padding: 0 20px 50px 20px;
    >div {
        display: block !important;
    }
    a {
        display: flex;
        color: inherit;
        margin: 15px 0;

        svg {
            margin-right: 5px;
        }
    }
}
.row {
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: 40px;
    justify-content: center;
}

.logo {
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}