.header {
	display: flex;
	justify-content: center;
	// align-items: center;
	flex-direction: column;
	height: calc(100vh - 100px);
	padding:  0 100px;
	padding-top: 100px;
	padding-bottom: 0;
	margin-bottom: 40px;
	&::after {
		content: '';
		position: absolute;
		top: calc(100vh - 100px);
		left: 0;
		width: 100vw;
		height: 100px;
		background: linear-gradient(var(--transparentBack) 0%, var(--background) 100%);
	}
	&::before {
		content: '';
		background: linear-gradient(0, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),
		url(../public/img/header-white.jpg);
		background-size: cover;
		width: 50vw;
		height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
	}
	.bubble {
		content: '';
		position: absolute;
		top: calc(50vh - 490px / 2);
		left: calc(50vw - 543px / 2);
		transform-style: preserve-3d;
		opacity: 0.5;
		scale: 2;
		will-change: transform, opacity;
		background: url(../public/img/blurred.png);
		width: 543px;
		height: 490px;
		animation: rotate 20s infinite;
		filter: blur(20px);
		z-index: 5;
	}
	.text {
		font-size: 20px;
		width: calc(100vw - 200px);
		max-width: 450px;
	}
}

.layout {
	max-width: 1024px;
	width: calc(100vw - 40px);
	margin: 0 auto;
	box-sizing: border-box;
}

@media (max-width: 900px) {
    .header {
		padding: 20px;
		.text {
			width: calc(100vw - 40px);
		}
	}
}

@media (prefers-color-scheme: dark) {
	.header {
		background-color: #000;
	}
	.header::before {
		background: linear-gradient(0, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../public/img/header-black.jpg) !important;
		background-size: cover !important;
	}
}

@keyframes rotate {
	0% {
		rotate: 0deg
	}
	100% {
		rotate: 360deg;
	}
}