.label {
    font-weight: 700;
    font-size: 16px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    color:rgba(0, 0, 0, 0.75) !important;
    b {
        font-weight: 700;
        color: var(--text-color) !important;
    }
}

@media (prefers-color-scheme: dark) {
    .text {
        color:rgba(255, 255, 255, 0.75) !important;
    }
}

.card {
    background: var(--white) !important;
    border: 1px solid var(--text-color) !important;
    box-sizing: border-box !important;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(100px) !important;
    border-radius: 20px !important;
    width: 100% !important;
    margin-top: 20px !important;
    color: var(--text-color) !important;
}

.cardText {
    b {
        font-weight: 700;
    }
    font-size: 12px;
    text-align: justify;
}
